* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.container {
  margin: 30px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 20px;
}

h1 {
  color: hsl(179, 62%, 43%);
}

/* ========= box styling ============== */
.box {
  padding: 20px;
}
.box-1 {
  background-color: #fff;
}
.box-2 {
  background-color: hsl(179, 62%, 43%);
}
.box-3 {
  background-color: hsl(179,47%,51%);
}
.heading {
  margin-bottom: 20px;
}

/* ========== box-1 styling ==================*/
.box-1 p:first-of-type {
  color: hsl(71, 73%, 54%);
}
.box-1 p:last-of-type {
  color: hsl(218, 22%, 67%);
}

/* ========= box-2 styling ================== */
.box-2 .heading {
  color: #fff;
}
.box-2 p:first-of-type {
  color: hsl(217, 32%, 78%);
}
.box-2 span {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 3rem;
}
.box-2 p {
  color: hsl(204, 43%, 93%);
}
button {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  border: none;
}

/* ========= box-3 styling ============= */
.box-3 {
  color: white;
}
.box-3 p {
  font-weight: 400;
}

/* ================ Desktop Layout =================== */
@media (min-width: 758px) {
  .container {
    width: 50%;
    margin: 80px auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box {
    padding: 40px;
  }
  .box-2, .box-3 {
    flex: 1;
  }
}